# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives
- Different data science languages: Python, R, SQL
- Different tools for data science: TensorFlow, Keras, Sci-Kit Learn
- Various Airthmetic Operations

## Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. Sci-Kit Learn
2. TensorFlow
3. Keras

## Data Science Tools:
---------------
Julia 

Python 

Rstudio

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
( 3 * 4) + 5 # This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200 / 60 # Coverting 200 minutes to Hours

3.3333333333333335

## Author
Nitika gupta